ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    border-top: 1px solid gray;
    padding-top: 10px;
    font-size: 8px;
}

div {
    background: url(https://pro-dachnikov.com/uploads/posts/2021-10/1634083415_73-p-zagorodnie-doma-i-kottedzhi-proekti-foto-78.jpg)
    width: 100%;
    height: 250px;
}